<!DOCTYPE html>

<html lang="en" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=viewport content='user-scalable=no'>
    <meta name="description" content="">
    <meta name="author" content="">


    <title>  Golden Staffing services</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="static/boot.css" rel="stylesheet">



    <!-- Custom CSS -->
    <link href="static/bk.css" rel="stylesheet">
    

    <!-- Custom Fonts -->
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">

    <!-- Custom Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <link href="static/font.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="static/sweetalert.css" rel="stylesheet" type="text/css">

    <link href="static/sweetalert.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    


 <script src="static/sweetalert.min.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src ="static/js/min.js"></script>
    <link href="static/swt.css" rel="stylesheet" type="text/css">

    <!-- Plugin JavaScript -->
    <script src="static/node_modules/jquery/dist/jquery.slim.js"></script>
    <script src="static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="static/node_modules/angular/angular.min.js"></script>
    <script src="static/node_modules/angular-route/angular-route.min.js"></script>
    <script src="static/node_modules/angular-route/angular-route.min.js.map"></script>
    <script src="static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/js/classie.js"></script>
    <script src="static/js/boot.js"></script>
    <script src="static/js/main.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqvalidate-form.js"></script>
    

    <!-- Custom Theme JavaScript -->
    <script src="static/js/freelances.js"></script>
    <script src="static/js/sweet-alert-min.js"></script>
    <script src="static/js/sweet-alert-min.js"></script>
    <script src="static/js/swtt.js"></script>
    <script src="static/js/main.js"></script>
     <script src="static/js/st.js"></script>
  <!-- Custom Theme JavaScript -->
   



</head>

<body id="page-top" class="article">

    <div id="main">


      <!-- angular templating -->



  		<!-- this is where content will be injected -->
      <div ng-view="app" >
        
 
    </div>

    </div>
    <!-- Navigation -->
 
   
  <script>

$(document).ready(function(){
    $("form").submit(function(){
        swal("Submitted"); 

        
    });
   
});


</script>

<form action="">
  
  
</form>

</body>

</html>
